<div class="about">
    <div class="head">
        <div class="title">
            <h2>About Us</h2>
        </div>

    </div>
    <div class="blog">
        <div class="title">
            <h4>Our Goal</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nisi. Quisquam, animi inventore rem a accusantium, in voluptas unde qui quae possimus repellat dolor delectus? Suscipit perspiciatis aspernatur molestias distinctio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga deleniti omnis quidem eveniet sint sit id laborum nam in ullam? Praesentium ipsum optio dicta quidem iusto maiores fugit dolores iure!</p>
        </div>
    </div>

    <div class="blog">
        <div class="title">
            <h4>Who We Are</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sequi nostrum est magni inventore architecto perspiciatis sunt dolorem soluta deleniti.</p>

        </div>
    </div>


</div>
