<section id="search" class="section section-subscribe teal darken-1 white-text center">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Subscribe To Get Latest News</h4>
                <div class="input-field">
                    <input type="email" class="white grey-text autocomplete" id="email-input" placeholder="Enter Email Here">
                    <button type="button" class="waves-effect waves-light btn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Change Language</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Amharic</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">English</a></li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Spanish</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="#!">Arabic</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Chinese</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">messages@dateme.com</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="#!">@dateme</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">+1 234 56 78 90</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
