<div class="grey lighten-4">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">DateMe</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons large teal-text">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a routerLink="home" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                        <a routerLink="blog" routerLinkActive="active">Blog</a>
                    </li>
                    <li>
                        <a routerLink="faq" routerLinkActive="active">FAQ</a>
                    </li>
                    <li>
                        <a routerLink="about" routerLinkActive="active">About</a>
                    </li>
                    <li>
                        <a routerLink="" routerLinkActive="active">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <ul id="mobile-nav" class="sidenav">
        <li>
            <a routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="blog" routerLinkActive="active">Blog</a>
        </li>
        <li>
            <a routerLink="faq" routerLinkActive="active">FAQ</a>
        </li>
        <li>
            <a routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLink="" routerLinkActive="active">Sign In</a>
        </li>
    </ul>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>

</div>
