<div class="faqs">
    <div class="head">
        <div class="title">
            <h2>FAQ</h2>
        </div>
    </div>
    <div class="faq">
        <div class="title">
            <h4>Getting Started</h4>
            <ul>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="faq">
        <div class="title">
            <h4>Policies</h4>
            <ul>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="faq">
        <div class="title">
            <h4>Account</h4>
            <ul>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
                <li>
                    <a href="">How can I scroll thorugh the pages</a>
                </li>
            </ul>
        </div>
    </div>


</div>
